



<form (ngSubmit)="onSubmit( fregister )" #fregister="ngForm">
    <div class="row mx-2 mb-5">
        <div class="col-xl-7 offset-xl-0 col-lg-7 offset-lg-0 
                col-md-7 offset-md-0 col-sm-10 offset-sm-1
                col-xs-12 offset-xs-0">
            <h3>{{ title }}</h3>
            <hr>

            <!-- TYPE -->
            <div class="row mb-2">
                <div class="col">
                    <h6>Destacado</h6>
                    <div class="form-check">
                        <input class="form-check-input" 
                            type="checkbox" 
                            value="" 
                            id="flexCheckDefault"
                            [checked]="featured">
                        <label class="form-check-label" for="flexCheckDefault">
                        SI
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" 
                            type="checkbox" 
                            value="" 
                            id="flexCheckDefault"
                            [checked]="!featured">
                        <label class="form-check-label" for="flexCheckDefault">
                        NO
                        </label>
                    </div>
                </div>
                <!-- FEATURED -->
                <div class="col">
                    <h6>Tipo</h6>
                    <div class="form-check">
                        <input class="form-check-input" 
                            type="checkbox" 
                            value="" 
                            id="flexCheckDefault"
                            [checked]="!typeProduct">
                        <label class="form-check-label" for="flexCheckDefault">
                        Producto
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" 
                            type="checkbox" 
                            value="" 
                            id="flexCheckDefault"
                            [checked]="typeProduct">
                        <label class="form-check-label" for="flexCheckDefault">
                        Accesorio
                        </label>
                    </div>
                </div>
            </div>
            <hr>
            <!-- SELECTS -->
            <div class="row mb-2">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 mt-2">
                    <label class="form-label">Categorias</label>
                    <select class="form-select" 
                            aria-label="Default select example"
                            name="category"
                            [(ngModel)]="product.category" 
                            (change)="onSelectCategory($event)">
                        <option *ngFor="let item of categories" [value]="item.id">{{ item.name | lowercase }}</option>
                    </select>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 mt-2">
                    <label class="form-label">Clasificación</label>
                    <select class="form-select" 
                            aria-label="Default select example"
                            name="clasification"
                            [(ngModel)]="product.clasification">
                        <option *ngFor="let item of clasifications" [value]="item.id">{{ item.name | lowercase }}</option>
                    </select>
                </div>
            </div>
            <!-- INPUT NAME -->
            <div class="form-group mb-2">
                <input type="text"
                    class="form-control"
                    name="name"
                    placeholder="Nombre"
                    [(ngModel)]="product.name"
                    required>
            </div>
            <!-- INPUT DESCRIPTION -->
            
            <div class="form-group mb-2">
                <textarea class="form-control" 
                        rows="3"
                        name="description"
                        [(ngModel)]="product.description"
                        placeholder="Descripcion">
                </textarea>
            </div>
            <!-- INPUT PRICE -->
            <div class="row mb-2">
                <div class="col">
                    <div class="form-group">
                        <input type="number"
                            class="form-control"
                            name="price"
                            placeholder="Precio"
                            [(ngModel)]="product.price"
                            required>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <input type="number"
                            class="form-control"
                            name="discount"
                            [(ngModel)]="product.discount"
                            placeholder="Descuento"
                            >
                    </div>
                </div>
            </div>
            <hr>
            <!-- SIZE -->
            <div class="form-group mb-2">
                <h6>Colores</h6>
                <div class="form-check form-check-inline" *ngFor="let item of colors; let i = index">
                    <input class="form-check-input" 
                        type="checkbox"
                        [checked]="checkedColors[i]"
                        name="color"
                        [(ngModel)]="checkedColors[i]"
                        [ngModelOptions]="{standalone: true}">
                    <label class="form-check-label" for="inlineCheckbox1">{{ item.name }}</label>
                </div>
            </div>
            <hr>
            <!-- SIZE CLOSTINGS -->
            <h6 *ngIf="showSizeR || showSizeP || showSizeZ">Tallas</h6>
            <div class="form-group mb-2" *ngIf="showSizeR">
                <div class="form-check form-check-inline" *ngFor="let item of sizeR; let i = index">
                    <input class="form-check-input" 
                           type="checkbox" 
                           name='sizer'
                           [(ngModel)]="checkedSizeR[i]"
                           [checked]="checkedSizeR[i]"
                           [ngModelOptions]="{standalone: true}" >
                    <label class="form-check-label" for="inlineCheckbox1">{{ item.size }}</label>
                </div>
            </div>

            <!-- SIZE TROUSER -->
            <div class="form-group mb-2" *ngIf="showSizeP">
                <div class="form-check form-check-inline" *ngFor="let item of sizeP; let i = index">
                    <input class="form-check-input" 
                           type="checkbox"
                           name="sizep"
                           [(ngModel)]="checkedSizeP[i]" 
                           [checked]="checkedSizeP[i]"
                           [ngModelOptions]="{standalone: true}" >
                    <label class="form-check-label" for="inlineCheckbox1">{{ item.size }}</label>
                </div>
            </div>

            <!-- SIZE SHOES -->
            <div class="form-group mb-2" *ngIf="showSizeZ">
                    <div class="form-check form-check-inline" *ngFor="let item of sizeZ; let i = index">
                        <input class="form-check-input" 
                               type="checkbox" 
                               name="sizez"
                               [(ngModel)]="checkedSizeZ[i]"
                               [checked]="checkedSizeZ[i]"
                               [ngModelOptions]="{standalone: true}" >
                        <label class="form-check-label" for="inlineCheckbox1">{{ item.size }}</label>
                    </div>
        </div>


        </div>
        
    
        <div class="col-xl-5 offset-xl-0 col-lg-5 offset-lg-0 
                    col-md-5 offset-md-0 col-sm-10 offset-sm-1
                    col-xs-12 offset-xs-0">
            
                    <h3>Fotos</h3>
                    <hr>
            <!-- BTN -->
            <div class="row">
                <div class="col-6 mb-2" *ngFor="let item of imgPreview; let i = index">

                    <div class="card w-100 new__box">
                        <img [src]="item.url" alt="">
                        <div class="new__link">
                            <button class="btn btn-outline-danger" type="button" (click)="deletePhoto(item.url, i)">
                              Eliminar
                            </button>
                          </div>
                    </div>
                </div>
                <div class="col-6 mb-2 uploadFile" *ngIf="3 > imgPreview.length">
                    <div class="card w-100" style="max-height: 220px;">
                        <input type="file" class="btn_file" name="foto" accept="image/*" (change)="handleImage( $event )">
                        <img src="../../../../assets/img/upload.png" alt="" style="height: 200px !important;">
                    </div>
                </div>
            </div>

            <ngx-spinner></ngx-spinner>

            <br><br>
            <div class="d-grid gap-2">
                <button class="btn btn-outline-primary" [disabled]="!fregister.valid">
                    Guardar
                </button>
            </div>
        </div>
    </div>
</form>