
<div class="login">
    <div class="login__content">
        <div class="login__img">
            <img src="assets/img/img-login.svg" alt="">
        </div>

        <div class="login__forms">
            <form action="" class="login__register" id="login-in">
                <h1 class="login__title">Login</h1>

                <div class="login__box">
                    <i class='bx bx-user login__icon'></i>
                    <input type="text" placeholder="Usuario" class="login__input">
                </div>

                <div class="login__box">
                    <i class='bx bx-lock-alt login__icon'></i>
                    <input type="password" placeholder="Contraseña" class="login__input">
                </div>
                <br>
                <div class="d-grid gap-2">

                    <a style="text-decoration: none;" class="login__button">Entrar</a>
                </div>

            </form>
        </div>
    </div>
</div>
