<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/home">
        <img src="../../../assets/img/logo.png" alt="" width="30" height="24">
          Manager
        </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">
              <img class="avatar_mask" src="../../../assets/img/avatar.png" alt="">
              {{ user.email }}
            </a>
          </li>
          <li class="nav-item m-auto">
            <a class="nav-link text-danger" routerLink="/login"   (click)="logout()">Salir</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>