<div class="container mt-5">
    <div class="row">
    
    
        <!-- Products -->
        <div class="co-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="m-0 row justify-content-center">
                <div class="card w-75" >
                    <div class="view zoom overlay product">
                        <img *ngIf="photo !== ''" class="img-fluid w-100 img" [src]="photo" alt="">
                        </div>
                </div>
            </div>
            <br>
            <div class="row" *ngIf="product?.photo.length > 1">
                <div class="col" *ngFor="let photo of product.photo">
                    <div class="card card-option" (click)="onChangePhoto(photo)">
                        <img *ngIf="photo !== ''" class="img-fluid w-100" [src]="photo" alt="">
                    </div>
                </div>
            </div>
    
        </div>
    
        <!-- Details -->
        <div class="co-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
    
            <div class="card">
                <div class="card-body">
                    <h3 class="text-center">{{ product?.name }}</h3>

                    <p style="font-size: 14px" >{{ product?.description }}</p>
                    
                    <div class="row">
                        <div class="col-6">
                            <h6>Colores disponibles</h6>    
                            <span class="badge bg-hellow me-2" *ngIf="colorHellow">Amarrillo</span>
                            <span class="badge bg-blue me-2" *ngIf="colorBlue">Azúl</span>
                            <span class="badge bg-white me-2" *ngIf="colorWhite">Blanco</span>
                            <span class="badge bg-brown m2-2" *ngIf="colorBrown">Café</span>
                            <span class="badge bg-lightblue me-2" *ngIf="colorLightBlue">Celeste</span>
                            <span class="badge bg-gray me-2" *ngIf="colorGray">Gris</span>
                            <span class="badge bg-purple me-2" *ngIf="colorPurple">Morado</span>
                            <span class="badge bg-orange me-2" *ngIf="colorOrange">Naranja</span>
                            <span class="badge bg-black me-2" *ngIf="colorBlack">Negro</span>
                            <span class="badge bg-pink me-2" *ngIf="colorPink">Rosado</span>
                            <span class="badge bg-red me-2" *ngIf="colorRed">Rojo</span>
                            <span class="badge bg-green me-2" *ngIf="colorGreen">Verde</span>
                        </div>
                        <div class="col-6">
                            <h6>Tallas</h6>    
                            <!-- SIZE CLOSTING -->
                            <div class="form-check" *ngIf="product?.sizer.length > 0">
                                <div class="form-check form-check-inline" *ngFor="let item of product?.sizer">
                                    <input class="form-check-input" type="checkbox" 
                                            checked
                                            id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        {{ item }}
                                    </label>
                                </div>
                            </div>
                            <!-- SIZE TROUSERS -->
                            <div class="form-check" *ngIf="product?.sizep.length > 0">
                                <div class="form-check form-check-inline" *ngFor="let item of product?.sizep">
                                    <input class="form-check-input" type="checkbox" 
                                            checked
                                            id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        {{ item }}
                                    </label>
                                </div>
                            </div>
                            <!-- SIZE SHOES -->
                            <div class="form-check" *ngIf="product?.sizez.length > 0">
                                <div class="form-check form-check-inline" *ngFor="let item of product?.sizez">
                                    <input class="form-check-input" type="checkbox" 
                                            checked
                                            id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        {{ item }}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br>
                    <hr>
                    <div class="row">
                        <div class="col-4">
                            <h6 class="text-center">Precio</h6>
                            <h6 class="mb-3 text-center">
                                <span class="text-info me-1">C$ {{ product?.price }} </span>
                                <span class="text-grey"><s>C$ {{ product?.price }}</s></span>
                            </h6>
                        </div>

                    </div>

                </div>
            </div>
    
        </div>
    
    </div>
</div>