<app-navbar class="container-fluit"></app-navbar>

<div class=" container mt-5">


    <div class="row">
        <div class="col-7" *ngIf="!showForm">
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Buscar producto" aria-label="Search">
            </form>
        </div>
        <div class="col-5">
            <button [ngClass]="showForm ? 'btn btn-outline-danger' : 'btn btn-outline-primary'"
                    (click)="showForm = !showForm">
                {{ showForm ? 'Atrar': 'Agregar' }}
            </button>
        </div>
    </div>
    <!-- Table -->
    <div class="row mt-5" *ngIf="!showForm">
        <app-list></app-list>
    </div>


    <!-- FORMS -->
    <div class="row mt-5" *ngIf="showForm">
        <app-add (closeForm)="showForm = $event"></app-add>
    </div>

</div>